.box {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
}

.titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
}

.bigbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.wrap {
    background-color:white;
    flex-wrap: wrap;
    
}

img.resize {
    width:50px; /* you can use % */
    height: auto;
    width: fit-content;
    max-width: 45px;
}
#pos {
    margin-top: 20px;
    border: 1px solid black;
    width: fit-content;
}
#boxcolor {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    margin-left: 0px;
    margin-top: 10px;
    
}
.blue {
    background-color: blue;
    
}
.green {
    background-color: green;
    color: purple;
}

.red {
    color: red;
}

.wrap2 {
    margin-top: 20px;
    background-color: white;
    width: fit-content;
}

.calcul {
    border: 1px solid black;
    width: fit-content;
    display: flex;
}
.valeur {
    border: 1px solid black;
    max-width: 70px;
    width: fit-content;
    margin-left: 20px;
}

.operator {
    border: 1px solid black;
    width: fit-content;
    min-width: 25px;
    margin-left: 20px;
}

.submit {
    border: 1px solid black;
    width: fit-content;
    margin-left: 20px;
}